/* Basic Styles */
:root{
    font-size:62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: #eb88eb;
    display:grid;
    margin:0;
    padding: 0;
    height:100vh;
}

/* Menu */


.menu{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    grid-area:header;
    object-fit: cover;
    
   
}

.menu__item{
    list-style: none;
    font-size: 3rem;
    margin:2rem;
   
    
   
    
}

.menu__item a{
    text-decoration: none;
    padding:1rem;
    color:#571357;

}

.menu__item a:hover{
    color: whitesmoke;
    border-radius: 1rem;
    padding:1rem;
    background-color: #571357;
}

/* Home Body */
mark{
    background-color:white;
    color:#eb88eb
}

.home{
    display:grid;
    grid-template-rows: auto 0px;
    grid-template-columns: 60fr 40fr;
    grid-template-areas: 

    "side-icon content"
    "footer footer"; 

    height:50vh;
}



.home__icon img{
    grid-area: side-icon;
    width:27rem;
    margin-top: 7rem;
    margin-left: -6rem;
}


.home__content h1{
grid-area:content;
font-size: 4rem;
padding:1rem;
margin-top: 6rem;
}


/* Footer */

.footer{
    position: relative;
    grid-area: footer;
    
    height:23vh;
    background-color: #571357;
    color:#eb88eb;
    object-fit:cover;
}

.footer__content{
    position:absolute;
    top:1rem;
    left:1rem;
    padding:1rem;
}

#footer__copyright{
    position:absolute;
    bottom: -11vh;
    left: 50vw;
    width:100%;

}